body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  text-align: center;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  font-size: 13px;
}

.header-main {
  background-color: black;
  color: orange;
  font-size: 22px;
  text-transform: uppercase;
}

.header-semester {
  background-color: #e4e4e4;
  
  font-size: 16px;
}

.header-days {
  background-color: black;
  color: white;
  font-weight: bold;
}

.col-time {
  font-weight: bold;
  width: 80px;
}

.subject-cell {
  width: 15%;
  height: 80px;
  vertical-align: middle;
}
